[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/*
!.vscode/extensions.json
.vscode/
.plastic/
ignore.conf
*.sln
*.slnx
*.csproj
*.user
# Ignore image assets (PNG, JPG, etc.)
*.png
*.jpg
*.jpeg
*.tga
*.psd
*.gif
# Ignore all assets except scripts and prefabs
Assets/* 
!Assets/*.cs
!Assets/**/*.prefab
!Assets/**/*.unity